:root {
   --background: #4a4f56; 
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */

.body {
    font: 400 26px/1.3 "Trebuchet MC", Trebuchet, Arial, sans-serif;
    background-color: #3b3f45;
}

.header {
    text-align: center;
    background: var(--background);
    padding: 20px 0;
    color: #eb7e74;
    }

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    padding: 20px 30px;
    width: 800px;
    background-color: #88839e;
    color: #ffffff;
}

    
.dinner-list :hover {
    background-color: #625e77;
    border: 2px solid white;
}
    
.dinner-list li:nth-child(odd){
background-color: #625e77;
}

.footer {
    text-align: center;
    background: var(--background);
    padding: 20px 0;
    color: #eb7e74;
    font-weight: 700;
}

.dinner-list small{
    font-size: small;
}

.dinner-list small::before {
    content: '(';
  }
  .dinner-list small::after {
    content: ')';
  }